body {
  background: rgb(46, 63, 87) !important;
  background: linear-gradient(
    90deg ,
    rgb(63, 86, 119) 0%,
    rgba(33, 44, 61, 1) 42%,
    rgb(15, 21, 29) 100%
  ) !important;
}

/* SIDEBAR SECTION */
.navbar.fixed-left {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 230px !important;
  flex-flow: column nowrap !important;
  align-items: flex-start !important;
  background-color: black !important;
  z-index: 1200 !important;
}

.navbar.fixed-left .navbar-collapse .navbar-nav a {
  color: rgb(145, 145, 145) !important;
  transition: 0.3s !important;
}

.navbar.fixed-left .navbar-collapse .navbar-nav a:hover {
  color: white !important;
}

.navbar.fixed-left .navbar-brand {
  padding-top: 20px !important;
  padding-bottom: 30px !important;
  padding-left: 10px !important;
}

ul {
  list-style-type: none !important;
  padding-left: 3px !important;
}

.nav-btn {
  margin-bottom: 20px !important;
  text-align: center !important;
}

.nav-btn a {
  color: rgb(145, 145, 145) !important;
  text-decoration: none !important;
}

.nav-link i {
  font-size: 1.5em !important;
}

.signup-btn {
  background-color: white !important;
  color: black !important;
  border: 1px solid white !important;
  border-radius: 20px !important;
  width: 180px !important;
  margin-bottom: 20px !important;
}

.signup-btn:hover {
  color: white !important;
  background-color: rgb(60, 211, 60) !important;
  border: 1px solid rgb(60, 211, 60) !important;
}

.login-btn {
  background-color: black !important;
  color: white !important;
  border: 1px solid white !important;
  border-radius: 20px !important;
  width: 180px !important;
  margin-bottom: 20px !important;
}

.login-btn:hover {
  color: black !important;
  background-color: white !important;
}

@media screen and (max-width: 936px) {
  #sidebar {
    display: none !important;
  }
}

/* BOTTOM PLAYER SECTION */
/* Hidden by default */
.bg-container {
  display: none;
}

/* Visible when a song is selected */
.bg-container.visible {
  display: block;
 
  background-color: #282828;
}
.playerControls div:first-of-type {
  margin-left: 10%;
  margin-right: 10%;
}
.playerControls {
  background-color: #282828;
  color: white;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.playerControls .song-info {
  display: flex;
  align-items: start;
  margin-bottom: 10px;
}

.playerControls .song-info img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin-right: 10px;
}

.playerControls .song-info div {
  display: flex;
  flex-direction: column;
}

.playerControls .controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerControls .controls a {
  margin: 0 10px;
}

.playerControls .controls img {
  width: 24px;
  height: 24px;
}
.playerControls a img {
  
  filter: brightness(60%);
}


.progress {
  background-color:transparent;
  height: 3px;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
}

.progress div {
  background-color: #1db954;
  height: 100%;
  border-radius: 5px;
}

@media screen and (min-width: 1200px) {
  .playerControls div:first-of-type {
    margin-left: 25% !important;
    margin-right: 25% !important;
  }
}

/* MAIN PAGE SECTION */
@media screen and (max-width: 936px) {
  #searchbar {
    display: block !important;
  }
}

/* Barra di ricerca nascosta quando la sidebar è visibile */
@media screen and (min-width: 936px) {
  #searchbar {
    display: none !important;
  }
}

/* Link di navigazione in cima */
.mainLinks {
  position: relative;
  margin-top: 1.5rem !important;
  justify-content: space-evenly !important;
}


.like-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em; 
  margin-bottom: 10px;
}

.like-button i {
  transition: color 0.3s ease;
}

.like-button i.bi-heart-fill {
  color: green; 
}

.like-button i.bi-heart {
  color: gray; /* Colore per i cuori non "mi piace" */
}

.like-button:hover i {
  color: darkgreen; /* Colore al passaggio del mouse per il cuore "mi piace" */
}


.mainLinks a {
  color: white !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  opacity: 0.3 !important;
  text-decoration: none !important;
}

.mainLinks a:hover {
  text-decoration: none !important;
  opacity: 1 !important;
  transition: 0.3s !important;
}

.imgLinks a p,
.mainPage p {
  padding-top: 8px !important;
  font-size: 12px !important;
  color: white !important;
  font-weight: 700 !important;
}

#rock,
#pop,
#hiphop,
#searchResults {
  color: white !important;
  font-weight: 700 !important;
  padding-top: 50px !important;
}

#hipHopSection {
  margin-bottom: 7rem !important;
}

.mainPage img {
  width: 200px !important;
}
